@model IEnumerable<Gmaster.Models.Columns>
@{
    ViewData["Title"] = "Records";
}
<script type="text/javascript" charset="utf-8">
    webix.ready(function () {
        if (webix.CustomScroll && !webix.env.touch) webix.CustomScroll.init();

        var form_layout = {
            margin: 10, padding: 0, type: "wide",
            view: "flexlayout",
            cols: [{
                rows: [
                    {
                        height: 35,
                        view: "toolbar",
                        elements: [
                            { view: "label", label: "@(ViewBag.Remarks ?? ViewBag.Table)" }
                        ]
                    },
                    {
                        view: "form",
                        id: "columns_form",
                        width: 300,
                        elements: [
                            @foreach (var colmn in Model) {
                                <text>
                                { view: "text", value: '', label: "@(colmn.remarks ?? colmn.colname)", name: "@(colmn.colname)"},
                                </text>
                            }
                        ]
                    }
                ]
            }]
        };

        webix.ui({
            view: "window",
            id: "edit_window",
            head: {
                view: "toolbar", margin: -4, cols: [
                    { view: "label", label: "@(ViewBag.Remarks ?? ViewBag.Table)" },
                    {
                        view: "icon", icon: "times-circle",
                        click: "$$('edit_window').hide();"
                    }
                ]
            },
            modal: true,
            move: true,
            resize: true,
            position: "center",
            height: 400,
            width: 600,
            position: "center",
            body: {
                view: "datatable",
                    editable: true,
                    columns: [
                        { id: "col_name", header: "Column", adjust: true, css:"keycol" },
                        { id: "col_value", header: "Value", adjust: true, editor: "text" }
                    ],
                    data: [
                        @foreach (var colmn in Model) {
                            <text>
                            { col_name: "@(colmn.remarks ?? colmn.colname)", name: "@(colmn.colname)", col_value:""},
                            </text>
                        }
                    ]
                
            }
        });

        var note = "<span class='webix_icon fa-sticky-note-o'></span>";
        var content_layout = {
            margin: 10, padding: 0, type: "wide",
            view: "flexlayout",
            cols: [{
                rows: [
                    {
                        view: "pager",
                        id: "records_pager",
                        template:" {common.first()} {common.prev()} {common.pages()} {common.next()} {common.last()}",
                        size: 50,
                        group: 5,
                    },
                    {
                        view: "datatable",
                        id: "record_table",
                        leftSplit: "@(ViewBag.KeyCount + 1)",
                        columns: [
                            { id: "detailBtn", header: "", width: 40, template: note },
                            @foreach (var colmn in Model) {
                                <text>
                                { id: "@(colmn.colname)", header: "@(colmn.remarks ?? colmn.colname)", adjust: true @Html.Raw((colmn.keyseq > 0) ? ", css:\"keycol\"" : "")},
                                </text>
                            }
                        ],
                        position: "flex",
                        select: true,
                        pager: "records_pager",
                        onClick: {
                            "fa-sticky-note-o": function (e, id, trg) {
                                // webix.message(" ID =" + id);

                                $$("edit_window").show(this.$view);
                            }
                        }
                    }
                ]
            }]
        };

        webix.ui({
            id: "root_layout",
            rows: [
                {
                    view: "toolbar", id: "mybar", elements: [
                        { view: "button", value: "Search", width: 70, click: "btnSearch_click" },
                        { view: "button", value: "Clear", width: 70, click: "$$('columns_form').clear()" },
                    ]
                },
                {
                    cols: [
                        { view: "scrollview", width:300, body: form_layout },
                        { view: "resizer" },
                        { view: "scrollview", body: content_layout },
                    ]
                },
                { template: "status: hoge", height: 30 }
            ]
        });
        webix.ui.fullScreen();
        webix.extend($$("root_layout"), webix.ProgressBar);


    });

    function btnSearch_click() {
        var forms = $$("columns_form").getValues();
        var url = "/api/Tables/@(ViewBag.Schema)/@(ViewBag.Table)";

        showProgress(true);
        webix.ajax().post(url, forms, function(text, data, XmlHttpRequest){
            var table = $$("record_table");
            table.clearAll();
            table.parse(data.json().records);
            showProgress(false);
        });
    }

    function showProgress(isInProgress) {
        if (isInProgress) {
            $$("root_layout").disable();
            $$("root_layout").showProgress({
                type: "icon",
                //delay: 2000,
                hide: false
            });
        } else {
            $$("root_layout").hideProgress();
            $$("root_layout").enable();
        }
    }
</script>